<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <%= link_to 'New Message', new_message_path %>
    </div>
    <div class="span10">
      <h1><%=@channel.name%></h1>

      <%= render partial: 'messages/table', locals: {messages: @channel.messages, table_id: 'channel_messages'}%>
      </div>
  </div>
</div>


