<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <h4>Channels</h4>
      <div class="row">
        <div class="span2">
      <% @channels.each do |channel| %>
            #<%= link_to channel.name.downcase, channel %>
      <% end %>
        </div>
      </div>
    </div>
    <div class="span10">
      <h1>Huckleberries</h1>
      <% @messages.each do |message| %>
      <div class="row">
          <div class="span2">
            <%
            user = message.senders.map(&:user).first
            if user %>  
              <%= image_tag "http://www.gravatar.com/avatar/#{user.gravatar_hash}.jpg?s=64&d=monsterid&r=g", alt: user.name, title: user.name %>
            <%end%>
          </div>
        <div class="span6">
          <%= to_html(message).html_safe %>
        </div>
        <div class="span2">
          <%=message.created_at.strftime '%B %-d, %Y'%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


